div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

h1 {
    text-align: center;
    font-family: verdana;
    font-size: 5em;
}

button {
    background-color: blue;
    border-width: 1px;
    border-radius: 5px;
}
